@import "common.css";

/* Make the whole page take full height */
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: var(--background1);
}

/* Center the login form in the middle of the page */
#login-form {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100%;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 700ms;
  animation-timing-function: ease;
}

/* Style the form container */
#login-form .panel {
  user-select: none;
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}


#login-form .oidc button {
  margin-bottom: 1rem;
  color: var(--background1);
  background: var(--primary);
}


#login-form .oidc button:hover {
  background: color-mix(in srgb, var(--primary) 85%, black);
}


#login-form .or-sep {
  color: var(--frontground);
  padding: 4px;
  margin-bottom: 15px;
}


/* Inputs full width */
#login-form input {
  user-select: none;
  background: var(--background3);
  color: var(--frontground);
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

#login-form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--secondary);
}

/* Buttons full width */
#login-form button {
  user-select: none;
  padding: 0.5rem;
  background: var(--secondary);
  color: var(--frontground);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

#login-form button:hover {
  background: color-mix(in srgb, var(--secondary) 85%, black);
}


#login-error.show {
  color: var(--secondary);
  padding-bottom: 20px;
}


.fade-in { animation: fadeIn 0.3s ease-in; }
@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}


.btn {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--frontground);

  &:active {
    transform: translateY(2px);
  }

  & i {
    font-size: 1.2em;
  }

  &:hover {
    background: var(--background3);
    cursor: pointer;
  }

  &:hover::after {
    cursor: pointer;
    opacity: 1;
  }

  &::after {
    position: absolute;
    translate: -5px 28px;
    content: attr(data-btn-title);
    background-color: var(--frontground);
    color: var(--background3);
    white-space: nowrap;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 10;
  }
}


.btn-control {
  background: var(--background);
  color: var(--frontground);
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 13px;
}


#locale {
  display: inline-block;
}


#locale .dropdown-content {
  display: none;
}


#top-bar {
  position: fixed;
  top: 0;
  left: 0;
}



