:root {
    --frontground: #DCD7BA;
    --background1: #343030;
    --background2: #231f1f;
    --background3: #3f3838;
    --primary: #E6C384;
    --secondary: #E46876;
    --tertiary: #FFA066;
    --dark: #262626;
    --light: #DCD7BA;
}
