:root {
    --frontground: #4F4F4F;
    --background1: #FFFFFF;
    --background2: #F4F4F4;
    --background3: #E1E1E1;
    --primary: #EA9135;
    --secondary: #E69090;
    --tertiary: #C94A4A;
    --dark: #262626;
    --light: #E1E1E1;
}
