@import url("/theme.css");


html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}


body {
  display: block;
  background: var(--background1);
  font-family: 'Monaco', monospace;
  color: var(--frontground);
}


#index {
  display: grid;
  grid-template-rows: auto 90vh;
  overflow: hidden;
  border-bottom: 1px solid var(--frontground);
}


#control-panel {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid var(--frontground);
}


#view {
  grid-column: 2 / -1;
  grid-row: 2;
  overflow-y: scroll;
  scrollbar-width: none;

  & #tool-bar {
    position: sticky;
    top: 0;
    background: var(--background2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--frontground);
    overflow: hidden;
  }

  & #tool-bar #path-breadcrumb {
    white-space: nowrap;
    scrollbar-width: none;
    overflow-y: auto;
    width: 50%;
    padding-left: 1rem;
  }

  & #tool-bar #search-bar {
    padding: 0 2rem;
  }

  & #table {
    padding: 1rem 1rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
  }

  & #table #table-name {
    min-width: 30%;
    text-align: left;
  }


  & #table #table-modified {
    min-width: 30%;
    text-align: left;
  }


  & #table #table-size {
    min-width: 10%;
    text-align: left;
  }
}



/* breadcrumb */
.breadcrumb {
  cursor: pointer;
  padding: 0 0.5rem;

  & ol {
    margin: 0;
    padding: 0;
    align-items: center;
  }


  & li {
    display: inline-block;
    margin: 1rem 0rem;
  }


  & li:not(:last-child)::after {
    margin: 0.1rem;
    color: var(--tertiary);
    content: "/";
  }


  & li.active{
    color: var(--tertiary);
  }

}


.dir {
  cursor: pointer;
  color: var(--tertiary);
}


.btn {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;

  &:active {
    transform: translateY(2px);
  }


  &:hover {
    background: var(--background3);
  }
}



.btn-control {
  background: var(--background);
  color: var(--frontground);
  text-transform: uppercase;
}


.btn-search::after {
  padding-right: 10px;
}


.form-control {
  padding: 0.8rem 0.5rem;
}


input.form-control {
  width: 100%;
}


textarea.form-control {
  width: 100%;
}


#table {
  & tr {
    cursor: pointer;
  }

  & tr:hover {
    background: var(--background3);
  }


  & td span {
    min-width: 10%
  }
}



.field {
  display: flex;
  gap: 5px;
}


.bxs-folder {
  color: var(--secondary);
}


.bx-caret-right:hover {
  color: var(--secondary);
}


.bx-caret-down:hover {
  color: var(--secondary);
}


.modal {
  /* Underlay covers entire screen. */
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.6);
  /* Flexbox centers the .modal-content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;

  /* Animate when opening */
  animation-name: fadeIn;
  animation-duration: 60ms;
  animation-timing-function: ease;

  & > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top:10vh;

    /* Sizing for visible dialog */

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    background-color: var(--background2);
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }

  &.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }


  &.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }


  & .btn-modal-close {
    background: var(--secondary);
  }


  & .btn-modal-confirm {
    background: var(--primary);
  }


  & > #new-file-modal {
    width: 100%;
    max-width: 300px;
  }

  & > #new-folder-modal {
    width: 100%;
    max-width: 300px;
  }

}


/* global underlay takes up the entire viewport.
 * Close any popups, modals, and menus  */
.modal-underlay {
  position: absolute;
  top:0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes zoomIn {
  0% {transform: scale(0.9);}
  100% {transform: scale(1);}
}


@keyframes zoomOut {
  0% {transform: scale(1);}
  100% {transform: scale(0.9);}
}


.mr-2 {
  margin-right: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;

}


.dropdown-btn {
}


.dropdown-content {
  position: absolute;
  background: var(--background2);
  padding: 0.5rem 0;
  border: 1px solid var(--frontground);
  border-radius : 0.1rem;
  text-align: left;
  z-index: 1;

  animation-name: fadeIn;
  animation-duration: 60ms;
  animation-timing-function: ease;

  &.closing {
    animation-name: fadeOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }
}


.dropdown-item {
  cursor: pointer;
  padding: 0.3rem 0;

  &:active {
    transform: translateY(2px);
  }

  & span,
  & a {
    color: var(--frontground);
    display: inline-block;
    text-decoration: none;
    padding: 0 2rem 0 1rem;
  }


  &:hover {
    background: var(--background3);
  }
}


.file-contextmenu {
  transform: translateX(10px);
}


#editor-modal {
  padding: 0.5rem 1.5rem;

  & > .modal-content {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  & > .modal-content textarea {
    height: 70vh;
  }
}


#file-detail-modal table {
  border-spacing: 1rem;
}

.closed {
  display: none;
}
