.fade-in { animation: fadeIn 0.3s ease-in; }
@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}


.hidden { opacity: 0; }


.bold {
  font-weight: bold !important;
}


.urgent {
  color: var(--secondary) !important;
}


.closed {
  display: none !important;
}


.selected {
  background: color-mix(in srgb, var(--background3) 98%, white) !important;

}


.selected.confirmed {
  background-color: var(--background3) !important;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  position: absolute;
  background: var(--background2);
  border-radius: 0.5rem;
  text-align: left;
  z-index: 1;
  border: var(--background3) solid;

  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;

  &.closing {
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
  }
}


.dropdown-item {
  cursor: pointer;
  padding: 0.7em;
  white-space: nowrap;

  &:active {
    transform: translateY(2px);
  }

  & span {
    color: var(--frontground);
    display: inline-block;
    text-decoration: none;
    padding: 0 2rem 0 1rem;
  }

  &:hover {
    background: var(--background3);
  }

  .no-effect {
    cursor: initial;
  }

  &.no-effect:hover {
    background: initial;
  }

  &.no-effect:active {
    transform: initial;
  }
}


a.dropdown-item {
  color: var(--frontground);
  display: block;
  text-decoration: none;
}


.balloon {
  background: var(--secondary);
  color: var(--frontground);
  position: fixed;
  bottom: 15px;
  left: 10px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  animation: fadeInBallon 0.3s ease;
  font-size: 0.9rem;
  z-index: 1500;
}


@keyframes fadeInBallon {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
