:root {
    --frontground: #DCD7BA;
    --background1: #3E3131;
    --background2: #3B2F2F;
    --background3: #4A3C3C;
    --primary: #E6C384;
    --secondary: #E46876;
    --tertiary: #FFA066;
    --dark: #262626;
    --light: #DCD7BA;
}
