@import "style.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none;
  user-select: none;
}


body {
  display: block;
  background: var(--background1);
  font-family: system-ui, -apple-system, sans-serif;
  color: var(--frontground);
  scrollbar-color: var(--background1) var(--background3); /* thumb color, track color */
}


input[name="new-folder"],
input[name="new-file"]
{
  border-radius: 5px 0 0 5px;
}


textarea {
  font-size: 1em;
  background-color: var(--background3);
  color: var(--frontground);
  border-style: solid;
  border-radius: 5px;
}


textarea:focus {
  outline: none;
}


#index {
  display: grid;
  grid-template-areas:
  "side-bar control-panel"
  "side-bar tool-bar"
  "side-bar view";
  grid-template-columns: 210px 1fr;
  grid-template-rows: auto auto 95vh;
  overflow: hidden;
}


#control-panel {
  grid-area: control-panel;
  background-color: var(--background1);
}


#side-bar {
  grid-area: side-bar;
  background-color: var(--background2);
}


#side-bar .target-tab {
  width: 180px;
  height: 40px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 6px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: space-between;
}


#side-bar .target-tab:hover {
  cursor: pointer;
  background-color: var(--background3);
}


#side-bar .target-tab:hover::after {
  cursor: pointer;
  opacity: 1;
}


#side-bar .target-tab::after {
  position: absolute;
  content: attr(data-target-info);
  background-color: var(--frontground);
  color: var(--background3);
  white-space: nowrap;
  translate: 0px 30px;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 10;
}


#side-bar .target-tab.current-target {
  background: var(--secondary);
  color: var(--light);
}


#side-bar .target-tab-selected-counter {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px; /* match height */
  color: var(--background3);
  background: var(--secondary);
  text-align: center;
}


#side-bar .current-target .target-tab-selected-counter {
  background: var(--background3);
  color: var(--secondary);
}


#tool-bar {
  position: sticky;
  top: 0;
  background: var(--background1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
}


#tool-bar #path-breadcrumb {
    white-space: nowrap;
    scrollbar-width: none;
    overflow-y: auto;
    width: 50%;
    padding-left: 1rem;
}


#tool-bar #tool-bar-right {
  display: flex;
}


#tool-bar #search-bar {
  padding-right: 2rem;
  flex: 0.8;
}


#view {
  grid-area: view;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}


.thumbnail {
  background-color: var(--background1);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.thumbnail:hover {
  background: var(--background3);
}


.thumbnail-preview {
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  pointer-events: none;
}


.image-wrapper i {
  font-size: 5em;
}


.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.thumbnail-name {
  display: -webkit-box;
  line-height: 1.2em;                 /* Control line height */
  min-height: calc(1.2em * 3);        /* Reserve height for 3 lines */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
  hyphens: manual;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}


/* breadcrumb */
.breadcrumb {
  cursor: pointer;
  padding: 0 0.5rem;
}


.breadcrumb ol {
  margin: 0;
  padding: 0;
  align-items: center;
}


.breadcrumb li {
  display: inline-block;
  margin: 1rem 0rem;
  padding: 5px 1px 5px 1px;
}


.breadcrumb li:hover {
  background: var(--background3);
  border-radius: 2px;
}


.breadcrumb li:not(:last-child)::after {
  margin: 0.1rem;
  color: var(--tertiary);
  content: "/";
}


.breadcrumb li.active{
  color: var(--tertiary);
}


.dir {
  cursor: pointer;
  color: var(--tertiary);
}


.btn-like {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--frontground);
}


.btn {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--frontground);
}


.btn:active {
  transform: translateY(2px);
}


.btn i {
  font-size: 1.2em;
}


.btn:hover {
  background: var(--background3);
  cursor: pointer;
}


.btn:hover::after {
  cursor: pointer;
  opacity: 1;
}


.btn::after {
  position: absolute;
  translate: -5px 28px;
  content: attr(data-btn-title);
  background-color: var(--frontground);
  color: var(--background3);
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 10;
}


.btn-control {
  background: var(--background);
  color: var(--frontground);
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 13px;
}


.btn-search::after {
  padding-right: 10px;
}


.btn-layout {
  background: var(--background1);
  font-size: 1.5em;
}


#table tr {
  cursor: pointer;
}


#table tr:hover {
  background: var(--background3);
}


#table td span {
  min-width: 10%
}


#table.list-view {
  padding: 1rem 1rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}


#table.list-view td, th {
  overflow-y: auto;
  scrollbar-width: none;
  white-space: nowrap;
  padding: 8px 16px;
  line-height: 1;
}


#table.list-view td:nth-child(1), th:nth-child(1) {
  width: 40%;
  text-align: left;
  border-radius: 8px 0 0 8px;
}


#table.list-view td:nth-child(2), th:nth-child(2) {
  width: 10%;
  text-align: left;
}


#table.list-view td:nth-child(3), th:nth-child(3) {
  width: 10%;
  text-align: left;
  border-radius: 0 8px 8px 0;
}


#table.thumbnail-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 18px;
  padding: 18px;
  box-sizing: border-box;
}


.field {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; /* prevent random size adjustment on iOS */
}


.modal {
  /* Underlay covers entire screen. */
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.6);
  /* Flexbox centers the .modal-content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;

  animation-name: fadeIn;
  animation-duration: 100ms;
  animation-timing-function: ease;
}


.modal > .modal-content {
  margin-top: 5vh;
  border: var(--background3) solid;
  border-radius: 8px;
  background-color: var(--background2);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  animation-name: zoomIn;
  animation-duration: 100ms;
  animation-timing-function: ease;
}


.modal.closing {
  animation-name: fadeOut;
  animation-duration: 100ms;
  animation-timing-function: ease;
}


.modal.closing > .modal-content {
  /* Animate when closing */
  animation-name: zoomOut;
  animation-duration: 100ms;
  animation-timing-function: ease;
}


.modal .modal-title-bar {
  display: flex;
  justify-content: space-between;
}


.modal .btn-modal-close {
  display: flex;
  background: var(--secondary);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}


.modal .btn-modal-confirm {
  color: var(--dark);
  background: var(--primary);
  border-radius: 0 5px 5px 0 !important;
}


.modal .btn-modal-confirm-1 {
  color: var(--dark);
  background: var(--primary);
  border-radius: 5px !important;
}


#new-file-modal {
  width: 100%;
  max-width: 400px;
}


#new-folder-modal {
  width: 100%;
  max-width: 400px;
}


#editor-modal {
  width: 80%;
}


#editor-modal textarea {
  height: 60vh;
  border: none;
}


/* global underlay takes up the entire viewport.
 * Close any popups, modals, and menus  */
.modal-underlay {
  position: absolute;
  top:0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
}


.file-contextmenu {
  transform: translateX(10px);
}


#file-detail-modal table {
  border-spacing: 1rem;
}


#selection-screen {
  position: absolute;
  opacity: 0.5;
  display: block;
  background: var(--background3);
  z-index: 100;
  border: var(--background3) solid;
  pointer-events: none;
}


.drag-icon .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  height: 100;
  object-fit: contain;
}


.drag-icon .image-wrapper:nth-child(1) {
  transform: translateX(0px) rotate(3deg);
  z-index: 5;
}


.drag-icon .image-wrapper:nth-child(2) {
  transform: translateX(8px) rotate(6deg);
  z-index: 4;
}


.drag-icon .image-wrapper:nth-child(3) {
  transform: translateX(16px) rotate(9deg);
  z-index: 3;
}


.drag-icon .image-wrapper:nth-child(4) {
  transform: translateX(24px) rotate(12deg);
  z-index: 2;
}


.drag-icon .image-wrapper:nth-child(5) {
  transform: translateX(32px) rotate(15deg);
  z-index: 1;
}


#locale {
  display: inline-block;
}


#locale .dropdown-content {
  display: none;
}


#balloon-container {
  position: fixed;
  display: flex;
  padding-right: 20px;
  width: 500px;
  right: 0px;
  bottom: 0px;
  flex-direction: column-reverse; /* new items stack on top */
  align-items: flex-end;
  overflow: hidden;
}
