/* Elements */

input {
  font-size: 1em;
  background-color: var(--background3);
  color: var(--frontground);
  border: none;
  outline: none;
  border-radius: 5px;
}


input:focus {
  outline: transparent;
}


.form-control {
  padding: 0.8rem 0.5rem;
}


input.form-control {
  width: 100%;
}


textarea.form-control {
  width: 100%;
}


hr {
  background: var(--frontground);
  border: 0;
  height: 1px;
}


/* Decorators */


.fade {
  animation-name: fadeIn;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
}


.hidden { opacity: 0; }


.bold {
  font-weight: bold !important;
}


.urgent {
  color: var(--secondary) !important;
}


.closed {
  display: none !important;
}


.selected {
  background: color-mix(in srgb, var(--background3) 98%, white) !important;
}


.selected.confirmed {
  background-color: var(--background3) !important;
}


.mr-2 {
  margin-right: 10px;
}


/* Dropdown */


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  position: absolute;
  background: var(--background2);
  border-radius: 0.5rem;
  text-align: left;
  z-index: 1;
  border: var(--background3) solid;

  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}


.dropdown-content.closing {
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}


.dropdown-item {
  cursor: pointer;
  padding: 0.7em;
  white-space: nowrap;
}


.dropdown-item:active {
  transform: translateY(2px);
}


.dropdown-item:hover {
  background: var(--background3);
}


.dropdown-item span {
  color: var(--frontground);
  display: inline-block;
  text-decoration: none;
  padding: 0 2rem 0 1rem;
}



.dropdown-item.no-effect {
  cursor: initial;
}


.dropdown-item.no-effect:hover {
  background: initial;
}


.dropdown-item.no-effect:active {
  transform: initial;
}


a.dropdown-item {
  color: var(--frontground);
  display: block;
  text-decoration: none;
}


/* File meta */

.file-meta {
  display: inline-flex;
  color: #777; /* dimmer color */
}


.file-meta.mobile {
  font-size: 0.85rem;
  margin-top: 0.25rem;
}


/* Boxicon */


.bxs-folder {
  color: var(--secondary);
}


.bx-caret-right:hover {
  color: var(--secondary);
}


.bx-caret-down:hover {
  color: var(--secondary);
}


/* Ballon */

.balloon {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  animation: fadeInBallon 0.3s ease;
  font-size: 0.9rem;
  z-index: 1500;
  display: flex;
  flex-direction: column;
}


.balloon-err-msg {
  background: var(--secondary);
  color: var(--frontground);
}


.balloon-info-msg {
  background: var(--primary);
  color: var(--frontground);
}


.balloon-progress-msg {
  background: var(--background2);
  color: var(--frontground);
}


/* Progress bar */

.progress-container {
  width: 300px;         /* total width */
  height: 5px;         /* thickness */
  border: 1px solid #444;
  border-radius: 5px;
  background: #eee;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #4caf50, #81c784);
  transition: width 0.3s ease;
}


/* animation */

.fade-in { animation: fadeIn 0.3s ease-in; }


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes zoomIn {
  0% {transform: scale(0.9);}
  100% {transform: scale(1);}
}


@keyframes zoomOut {
  0% {transform: scale(1);}
  100% {transform: scale(0.9);}
}



@keyframes fadeInBallon {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Others */


.debug {
  position: fixed;
  top: 5px;
  left: 5px
}
