:root {
    --frontground: #775757;
    --background1: #FFFFFF;
    --background2: #F4F4F4;
    --background3: #E1E1E1;
    --primary: #FFAA53;
    --secondary: #E69090;
    --tertiary: #C94A4A;
    --dark: #5B4242;
    --light: #E1E1E1;
}
