@import url("/theme.css");


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}


body {
  display: block;
  background: var(--background1);
  font-family: 'Monaco', monospace;
  color: var(--frontground);
}


input {
  font-size: 1em;
  background-color: var(--background3);
  color: var(--frontground);
  border: none;
  outline: none;
  border-radius: 5px;

  &:focus {
    outline: transparent;
  }
}


textarea {
  font-size: 1em;
  background-color: var(--background3);
  color: var(--frontground);
  border-style: solid;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}


#index {
  display: grid;
  grid-template-areas:
    "side-bar control-panel"
    "side-bar view";
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto 95vh;
  overflow: hidden;
}


#control-panel {
  grid-area: control-panel;
  background-color: var(--background2);
  border-bottom: 1px solid var(--background3);
  border-left: 1px solid var(--background3);
}


#side-bar {
  grid-area: side-bar;
  background-color: var(--background2);

  & .target-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 20%;
    background-color: var(--background3);
    display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    transition: transform 0.1s ease-in-out;

    & i {
      font-size: 2em;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::after {
      cursor: pointer;
      opacity: 1;
    }


    &::after {
      position: absolute;
      left: 110%;
      content: attr(data-target-info);
      background-color: var(--frontground);
      color: var(--background3);
      white-space: nowrap;
      padding: 4px 8px;
      border-radius: 3px;
      font-size: 10px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      z-index: 10;
    }
  }

  & .target-icon.current-target {
      border: solid 1px var(--frontground);
  }
}


#view {
  grid-area: view;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-width: none;

  & #tool-bar {
    position: sticky;
    top: 0;
    background: var(--background2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-left: 1px solid var(--background3);
    border-bottom: 1px solid var(--background3);
  }

  & #tool-bar #path-breadcrumb {
    white-space: nowrap;
    scrollbar-width: none;
    overflow-y: auto;
    width: 50%;
    padding-left: 1rem;
  }

  & #tool-bar #search-bar {
    padding: 0 2rem;
  }

  & #table {
    padding: 1rem 1rem;
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 100%;
    overflow-x: auto;

    & td, th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & td:nth-child(1), th:nth-child(1) {
      width: 60%;
      text-align: left;
    }

    & td:nth-child(2), th:nth-child(2) {
      width: 10%;
      text-align: left;
    }

    & td:nth-child(3), th:nth-child(3) {
      width: 10%;
      text-align: left;
    }
  }
}



/* breadcrumb */
.breadcrumb {
  cursor: pointer;
  padding: 0 0.5rem;

  & ol {
    margin: 0;
    padding: 0;
    align-items: center;
  }


  & li {
    display: inline-block;
    margin: 1rem 0rem;
    padding: 5px 1px 5px 1px;
  }

  & li:hover {
    background: var(--background3);
    border-radius: 2px;
  }


  & li:not(:last-child)::after {
    margin: 0.1rem;
    color: var(--tertiary);
    content: "/";
  }


  & li.active{
    color: var(--tertiary);
  }

}


.dir {
  cursor: pointer;
  color: var(--tertiary);
}


.btn {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;

  &:active {
    transform: translateY(2px);
  }


  &:hover {
    background: var(--background3);
  }
}



.btn-control {
  background: var(--background);
  color: var(--frontground);
  text-transform: uppercase;
}


.btn-search::after {
  padding-right: 10px;
}


.form-control {
  padding: 0.8rem 0.5rem;
}


input.form-control {
  width: 100%;
}


textarea.form-control {
  width: 100%;
}


#table {
  & tr {
    cursor: pointer;
  }

  & tr:hover {
    background: var(--background3);
  }

  & td span {
    min-width: 10%
  }
}


.field {
  display: inline-flex;
  align-items: stretch;
  gap: 0.25rem;
}


.bxs-folder {
  color: var(--secondary);
}


.bx-caret-right:hover {
  color: var(--secondary);
}


.bx-caret-down:hover {
  color: var(--secondary);
}


.modal {
  /* Underlay covers entire screen. */
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.6);
  /* Flexbox centers the .modal-content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;

  /* Animate when opening */
  animation-name: fadeIn;
  animation-duration: 60ms;
  animation-timing-function: ease;

  & > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 5vh;

    /* Sizing for visible dialog */

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    background-color: var(--background2);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }

  &.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }


  &.closing > .modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }


  & .btn-modal-close {
    background: var(--secondary);
  }


  & .btn-modal-confirm {
    background: var(--primary);
  }


  & > #new-file-modal {
    width: 100%;
    max-width: 300px;
  }


  & > #new-folder-modal {
    width: 100%;
    max-width: 300px;
  }


  & > #editor-modal {
    width: 80%;

    textarea {
      height: 60vh;
      border: none;
    };
  }
}


/* global underlay takes up the entire viewport.
 * Close any popups, modals, and menus  */
.modal-underlay {
  position: absolute;
  top:0px;
  bottom:0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes zoomIn {
  0% {transform: scale(0.9);}
  100% {transform: scale(1);}
}


@keyframes zoomOut {
  0% {transform: scale(1);}
  100% {transform: scale(0.9);}
}


.mr-2 {
  margin-right: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;

}


.dropdown-btn {
}


.dropdown-content {
  position: absolute;
  background: var(--background2);
  padding: 0.5rem 0;
  border: 1px solid var(--background3);
  border-radius : 0.1rem;
  text-align: left;
  z-index: 1;

  animation-name: fadeIn;
  animation-duration: 60ms;
  animation-timing-function: ease;

  & a {
    width: 100%;
  }

  &.closing {
    animation-name: fadeOut;
    animation-duration: 60ms;
    animation-timing-function: ease;
  }
}


.dropdown-item {
  cursor: pointer;
  padding: 0.3rem 0;

  &:active {
    transform: translateY(2px);
  }

  & span,
  & a {
    color: var(--frontground);
    display: inline-block;
    text-decoration: none;
    padding: 0 2rem 0 1rem;
  }


  &:hover {
    background: var(--background3);
  }
}


.file-contextmenu {
  transform: translateX(10px);
}


#file-detail-modal table {
  border-spacing: 1rem;
}


.closed {
  display: none;
}


.selected {
  background: var(--background3);
}


.balloon {
  background: var(--background3);
  color: var(--frontground);
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  animation: fadeInBallon 0.3s ease;
  font-size: 0.9rem;
}


@keyframes fadeInBallon {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.bold {
  font-weight: bold;
}


.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator{
  opacity:1;
}

.htmx-request.htmx-indicator{
  opacity:1;
}
